* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: url(./img/fondo.jpg) no-repeat center center fixed;
   background-size: cover;
   /* backdrop-filter: blur(5px); */
   font-family: 'Karla', sans-serif;
}


/* ==================== */
/* Mobile first */
.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-width: 320px;
   /* height: 100vh; */
   margin-top: 10rem;
}

.card__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.card__logo {
   width: 10rem;
}

.card__logo-img {
   width: 100%;
}

.card__title {
   font-size: 2.4rem;
   font-weight: 300;
   color: white;
}

.card__title span {
   font-weight: bold;
}

/* ================== */
/* card body */
.card__body {
   width: 100%; /* 90%?*/
   max-width: 400px;
   margin-top: 1rem;
   
}

.card__form {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;
}

.card__input {
   padding: 1.2rem;
   margin-bottom: 1px;
   border: none;
   color: white;
   background-color: rgba(255, 255, 255, 0.100);
   font-family: 'Karla', sans-serif;
   font-weight: 400;
}

.card__input::placeholder {
   color: rgba(255, 255, 255, 0.664);
}

.card__input:focus {
   border-bottom: 1px solid white;
}

.card--btn-login {
   margin-top: 3px;
}

.card--btn-login:hover {
   cursor: pointer;
}

.card--btn-login:active {
   background-color:rgb(52, 68, 52);
   
}


/* link registro */
.card__register {
   display: flex;
   justify-content: center;
   font-size: 1.3rem;
   color: white;
}

.card__register-link {
   margin-left: 10px;
   color: white;
}






























/* .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
}

.logo-pi img {
   width: 100%;
}

.logo-pi {
   width: 10rem; 
   margin-top: 40%; 
}

.page-title {
   margin: 10px auto 10px;
   text-align: center;
   align-items: center;
   color: white;
   font-size: 2.2rem;
   font-family: 'Karla', sans-serif;
} 

form {
   margin: 10px auto 20px;
   width: 70%; form toma el 70% del main
} */


/* form input {
   display: block;
   width: 100%; input toma el 100% del form
   padding: 5px;
   border: none;
   color: white;
   background-color: rgba(255, 255, 255, 0.062);
   font-family: 'Karla', sans-serif;
   font-weight: 400;
} */

/* 
.log-input {
   margin-top: 2px;
}

.log-input:active {
   background-color: rgb(52, 68, 52);
}

form input::placeholder {
   color: rgba(255, 255, 255, 0.603);
}

.log-buttons {
   text-align: center;
   align-items: center;
   margin: 0 auto;
   color: white;
   font-family: 'Karla', sans-serif;
   font-weight: 400;
}

.log-buttons a {
   color: white;
}

.log-buttons span {
   padding: 5px;
   font-size: 1.2rem;
} */



/* Media Queries */ 
/* @media (min-width: 425px) {
   .logo-pi{
      margin-top: 20%;
   }

   .page-title {
      font-size: 2rem;
   }

   form {
      width: 60%;
   }

   .log-buttons span { 
      font-size: 1.5rem;
   }
}

@media (min-width: 768px) {
   .logo-pi{
      margin-top: 10%;
   }

   form {
      width: 30%;
   }

   form input {
      padding: 10px;
   }     
}

@media (min-width: 1024px) {
   .logo-pi{
      width: 15rem;
      margin-top: 10%;
   }

   form {
      width: 25%;
   }

   form input {
      padding: 10px;
   }     
}


@media (min-width: 1440px) {
   .logo-pi {
      width: 20rem;
      margin-top: 10%;
   }
   
   .page-title {
      font-size: 2.5rem;
   }

   form {
      width: 20%;
   }
   

   form input {
      font-size: 1.5rem;
      padding: 10px;
   }

   .log-buttons span {
      font-size: 1.8rem;
   }
} */




/* 
Media queries -> 

-Alinear mas arriba el contenido
-Aumentar font-size, logo 
-Limitar crecimiento inputs 
-Cambiar font
---------------------
-Crear form de registro  <-- 

*/