* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: url(./img/fondo.jpg) no-repeat center center fixed;
   background-size: cover;
   font-family: 'Karla', sans-serif;
}


/* ==================== */
/* Mobile First */
header {
   width: 100%;
}

.nav {
   margin: 1rem;
}

.nav__link {
   font-size: 1.2rem;
   color: rgba(255, 255, 255, 0.664);
}

.nav__link:hover {
   cursor: pointer;
   color: white;
   transition: 0.3s;
}



/* ================ */
/* Card */
.card-registro {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-width: 320px;
   /* height: 100vh; */
   margin-top: 6rem;
}

.card-registro__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.card-registro__logo {
   width: 10rem;
}

.card-registro__logo-img {
   width: 100%;
}

.card-registro__title {
   font-size: 2.4rem;
   font-weight: 300;
   color: white;
}

.card-registro__title span {
   font-weight: bold;
}


/* ================= */
/* Card Body */
.card-registro__body {
   width: 95%;
   max-width: 400px;
   margin: 0 auto;
}

.card-registro__form {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top: 1rem;
}

.card-registro__input {
   padding: 1.2rem;
   margin-bottom: .1rem;
   border: none;
   color: white;
   background-color: rgba(255, 255, 255, 0.100);
   font-family: 'Karla', sans-serif;
   font-weight: 400;
}

.card-registro__input:focus {
   border-bottom: 2px dotted  white;
}

.card-registro__input:last-of-type:focus {
   border-bottom: none;
}

.card-registro__input::placeholder {
   color: rgba(255, 255, 255, 0.664);
}

.card-registro--btn-register {
   margin-top: .3rem;
}

.card-registro--btn-register:hover {
   cursor: pointer;
}

.card-registro--btn-register:active {
   background-color:rgb(52, 68, 52);
}


/* ========== */
/* Media Queries */
@media (min-width: 400px) {
   .nav {
      margin-left: 2rem;
   }

   .card-registro__body {
      width: 100%;
   }
}