* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: url(./img/fondo.jpg) no-repeat center center fixed;
   background-size: cover;
   /* backdrop-filter: blur(5px); */
   font-family: 'Karla', sans-serif;
}


/* ==================== */
/* Mobile first */
.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-width: 320px;
   /* height: 100vh; */
   margin-top: 10rem;
}

.card__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.card__logo {
   width: 10rem;
}

.card__logo-img {
   width: 100%;
}

.card__title {
   font-size: 2.4rem;
   font-weight: 300;
   color: white;
}

.card__title span {
   font-weight: bold;
}

/* ================== */
/* card body */
.card__body {
   width: 100%; /* 90%?*/
   max-width: 400px;
   margin-top: 1rem;
   
}

.card__form {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;
}

.card__input {
   padding: 1.2rem;
   margin-bottom: 1px;
   border: none;
   color: white;
   background-color: rgba(255, 255, 255, 0.100);
   font-family: 'Karla', sans-serif;
   font-weight: 400;
}

.card__input::placeholder {
   color: rgba(255, 255, 255, 0.664);
}

.card__input:focus {
   border-bottom: 1px solid white;
}

.card--btn-login {
   margin-top: 3px;
}

.card--btn-login:hover {
   cursor: pointer;
}

.card--btn-login:active {
   background-color:rgb(52, 68, 52);
   
}


/* link registro */
.card__register {
   display: flex;
   justify-content: center;
   font-size: 1.3rem;
   color: white;
}

.card__register-link {
   margin-left: 10px;
   color: white;
}